target/
Cargo.lock

.cargo/config.toml
.cargo/config

.vscode/

# coverage
**/*.profraw
lcov**.info

# bench
**/.env
metrics.json

# lychee
.lycheecache

# npm
**/node_modules
package-lock.json
package.json

# husky
.husky